
<div class=" grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
          <h3> Update Person</h3>

        <table class="table">
            <tbody>
                <tr>
                    <td style="border:none">
                        <table class="cstm-table">
                            <tbody>
                                <tr>
                                       
                                    <td style="border:none; vertical-align:initial">
                                        <p>Persons:</p>
                                        <select id="person_members" [(ngModel)]="selectionModel" size="10"
                                            (change)="onChangeperson($event.target.value)"
                                            style="width: 160px; height: 414px;" class="form-control">
                                            <option *ngFor="let person of personarray;let i=index"
                                                [value]="person.personid" selected style="padding:5px 2px">
                                                {{person.firstName}} {{person.lastName}} </option>

                                        </select>
                                    </td>  
                                    <!-- <td style="border:none; vertical-align:initial">
                                        <p>Select Site:</p>
                                        <div>
                                        <select name="siteName"  class="browser-default custom-select"  (change)="getPersonToMap($event.target.value,k)" [(ngModel)]="siteName">
                                            <option *ngFor="let site of siteList;let k=index;" id="siteListId" [value]="site.siteName">
                                            {{ site.siteName }}
                                            </option>
                                        </select>
                                        </div>
                            
                                    
                                    </td>    -->
                                    <td style="border:none; vertical-align:initial">
                                        <p> Person Groups:</p>
                                        <table id="persongroup">
                                            <tbody>
                                                <tr *ngFor="let persongroups of numberOfPersonGroups;let i=index">
                                                    <td style="border:none; padding: 0.3rem;">
                                                        <select id="persongroup{{i}}" name="persongroup"
                                                            style="width: 120px;height: 45px;" class="browser-default custom-select"
                                                            (change)="getPersongroupToMap($event.target.value,i)">
                                                            <option style="padding:5px 2px" [value]="0">
                                                            </option>

                                                            <option *ngFor="let persongroupObj of persongroup" style="padding:5px 2px"
                                                                [value]="persongroupObj.pgroupid">
                                                                {{persongroupObj.personGroupName}}
                                                            </option>

                                                        </select>
                                                    </td>
                                                    <!-- <td style="border:none">
                                                        <span tagindex="4" data-toggle="modal" title="Program to site"
                                                            (click)="programTosite(i)" style="color: #428bca;"><i
                                                                class="material-icons file_upload">&#xe2c6;</i></span>
                                                    </td>
                                                    <td style="border:none">
                                                        <span tagindex="4" data-toggle="modal"
                                                            title="Show tag site from database"
                                                            (click)="retrieveToSite()" style="color: #428bca;"><i
                                                                class="material-icons file_download">&#xe2c4;</i></span>
                                                    </td> -->
                                                </tr>

                                            </tbody>
                                        </table>
                                    </td>

                                    <td style="border:none; vertical-align:initial">
                                        <p>Door Groups:</p>
                                        <div
                                            style="border:solid 1px #eeeeee; width:160px; height:410px; overflow-y:scroll">
                                            <table id="staff_sites" class="table-condensed">
                                                <tbody>
                                                    <tr *ngFor="let doorGroup of doorGroups;let j=index;">
                                                        <td style="width: 150px" >
                                                          <input type="checkbox" style="border:none; padding-left:5px"
                                                                #site id="selectdoorgroup" id="doorgroupval{{doorGroup.doorgroupid}}"
                                                                value={{doorGroup.doorGroupName}} class="doorGroupCheckBox"
                                                                [checked]="checkedDoorGroup(doorGroup.doorgroupid)"  (change)="getDoorGroup($event.target.checked, doorGroup.doorgroupid,j)">&nbsp;
                                                            <label 
                                                                style="border:none;">{{doorGroup.doorGroupName}}</label>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>

                                    <td style="border:none; vertical-align:initial">
                                        <p>Doors:</p>
                                        <div class="person_total_doors" style="display: grid; grid-template-columns: repeat(8, 1fr);">
                                            <div id="person_doors" *ngFor="let door of doors;let k=index;">
                                                <input type="button" value={{door}} class="door"
                                                     id="door{{k}}"
                                                    (click)="changeColor(door,k)" class="door" />

                                            </div>
                                        </div>
                                    </td>    
                                    
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        
            <div class="main_update" style="float: right;
            margin-right: 52px;" >
                <button (click)="update_personWithallInformation()" class="btn btn-primary" style="  background-color: #ffd966ff ; border: none;color: #000;border-radius: .5rem; margin-right: 10px;">Update Person</button>
                <button (click)="backToPersons()" class="btn btn-primary" style="background-color: #e06666ff;border: none;
                border-radius: .5rem;color: #000; ">Return</button>

            </div>
        
