.change{
    display: grid;
    grid-template-columns: 18% 36%;
    gap: 1rem;
    align-items: baseline;
}
.inner{
    justify-self: end;
}

.change_button{
display: flex;
justify-content: center;
margin-right: 9rem;
}