<div class="col-lg-12 grid-margin stretch-card">

    

    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Event Log For Site</h4>

        <form #addEventLogForm="ngForm" (ngSubmit)="searchEventData()" novalidate>
            <div class="row" style="margin-top:10px;margin-bottom: 10px;">
              <div class="col-sm-3 form-group">

                <div class="search-field d-none  d-md-block">
                  <form class="d-flex align-items-center h-100" action="#">
                    <div class="input-group" style="border: 1px solid #ebedf2;">
                     
                      <input type="text" class="form-control  border-0" id="search_event" type="text" name="search" [(ngModel)]="searchText"
                      autocomplete="off" placeholder=" Start searching." style="padding-left: 0px;">
                    </div>
                  </form>
                </div>


              </div>
              <div class="col-sm-3 form-group">
                <input id="startDate" type="text" #startdate="ngModel" name="startdate" [(ngModel)]="model.startDate"
                  placeholder="From Date" bsDatepicker [bsConfig]="{ isAnimated: true }" class="form-control" />
              </div>
              <div class="col-sm-3 form-group">
                <input id="endDate" type="text" #enddate="ngModel" name="enddate" [(ngModel)]="model.endDate"
                  placeholder="To Date" bsDatepicker [bsConfig]="{ isAnimated: true }" class="form-control" />
              </div>
              <div class="col-sm-3 form-group">
                <button type="submit" class="btn btn-gradient-primary" style="padding-top: 0.7rem;
                padding-bottom: 0.7rem;
            ">Search</button>
              </div>
            
            </div>
          </form>
       
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead class="thead">
              <tr>
                <th scope="col">No</th>
                <th scope="col">Event</th>
                <th scope="col">Status</th>
                <th scope="col">Description</th>
                <th scope="col">EventDescription</th>
                <th scope="col">DateUpdated</th>
                <th scope="col">Action</th>
              </tr>
              <tr *ngFor="let eventLogSite of eventLogForSiteInfo | paginationPipe:currentPage:itemsPerPage | filter:searchText;">
                <th scope="row">{{eventLogSite.id}}</th>
                <td>{{eventLogSite.event}}</td>
                <td>{{eventLogSite.status}}</td>
                <td>{{eventLogSite.Description}}</td>
                <td>{{eventLogSite.eventDescription}}</td>
                <td>{{eventLogSite.dateUpdated | date:'MM-dd-yyy'}}</td>
                <td>
                  <a (click)="goToDetailEventLogForSite(eventLogSite.id)" title="Detailed EventLog">
        
                    <i class="material-icons receipt">&#xe8b0;</i>
                  </a>
                </td>
              </tr>
        
              <tr *ngIf="!eventLogForSiteInfo||eventLogForSiteInfo.length==0">
                <td class="no_data" colspan="9">
                  No Data Found
                </td>
              </tr>
            </thead>
          
          </table>
        </div>
        <!-- <pagination [totalItems]="eventLogsInfo.length" (pageChanged)="pageChanged($event)" [itemsPerPage]="5" [maxSize]="5">
        </pagination>  -->
      </div>
    </div>
  </div>