<div class="container body-content" style="margin-top:120px">

    <div style="margin: 40px auto; width: 300px;">
        <table class="table table-bordered" style="margin-top:20px;">
            <tbody>
                <tr>
                    <th style="background-color:#0094ff;text-align:center;color:#ffffff;font-size:large">Reset Password
                    </th>
                </tr>
                <tr>
                    <td>
                        <div style="margin: 15px auto 0 auto; width: 260px;">
                            <form action="/Account/ResetPassword" class="form-horizontal" method="post" role="form">
                                <table id="table_login" class="table" style="margin:0;padding:0">
                                    <tbody>
                                        <tr>
                                            <td style="border:none"><b>Code for reset was sent to mail</b></td>
                                        </tr>
                                        <tr>
                                            <td  style="border:none">Code: <input type="text" id="code" name="Code">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td  style="padding-top: 15px; border: none">
                                            <button type="submit"  class="btn btn-gradient-primary" (click)="submitCode()">Submit</button>    
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </form>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>





