.card{
    max-width: 70%;
    margin-left: 15%;
}

.text-center{
    display: flex;
    justify-content: center;
    margin-left: 10rem;
}

#create_site{
text-align: end;
}

.row{
   
    justify-content: center;
  
}