.jumbotron {
    max-width: 100%;
    padding-top: 40px;
    padding-bottom: 80px;
    color: inherit;
    background-color:#f8f9fa;
  }
  .container{
      margin-top: 50px;
      
  }
  .bg-primary {
    background-color: #5d9cec;
    color: #fff !important;
  }
  #adddoorcontents{
    position: absolute;
    margin-left: 30rem;
  }
  #addmobilecontents{
    position: absolute;
    margin-left: 35rem;
  }
  
  .panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
  }
  
  #create_person {
    display: grid;
    grid-template-columns:14% 20%;
    margin-top: 1rem;
    gap: 1rem;
    align-items: end;
  }
  /* input.largerCheckbox { 
    width: 40px; 
    height: 40px; 
  }  */
  
  /* span.door_select{
    position: absolute;
      left: 1.4rem;
      top: 1.4rem;
  }   */
  
  #create_mobile {
  display: grid;
  grid-template-columns: 29% 44%;
  gap: 2rem;
  align-items: center;
  }
  #create_Tag_person{
    display: grid;
    grid-template-columns: 6% 39%;
    justify-content: center;
    margin-top: 1rem;
    gap: 7rem;
    align-items: end;
  }
  
  #create_area{
    
    display: grid;
    grid-template-columns: 36% 70%;
    gap: 2rem;
    align-items: center
  
  }
  
  
  #create_date{
    display: grid;
    grid-template-columns: 29% 67%;
    gap: 2rem;
    align-items: center;
  }
  
  
  
  .text-center{
  
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    margin-left: 5rem;

 
  }
  
  
  
  #main_form{
  padding: 1%;
  }
  
  i.material-icons {
    margin-left: -1rem;
    margin-right: -1rem;
    margin-top: 0.5rem;
  }
  
  
  .selectBox {
    position: relative;
  }
  
  .selectBox select {
    width: 100%;
    font-weight: bold;
  }
  
  .overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  
  #checkboxes {
    display: none;
    border: 1px #ffff solid;
    background: #fff;
  }
  
  #checkboxes label {
    display: block;
  }
  
  #checkboxes label:hover {
    background-color: #1e90ff;
  }
  
  
   .open_door{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    margin-top: -5rem;
    gap: 1rem;
  }
  
   .door {
      cursor: pointer;
    
    }
    
    .edit_door_inner{
      display: flex;
      flex-direction: column;
      align-items: center;
  

    }
    
form#main_form input {
  width: 15rem;
}