

#new_user{
    .btn.btn-gradient-primary, .btn.btn-primary{
        padding: 14px 20px;
       border-radius: .5rem;
    }
}

#createPersonClass{

        text-align: start;
        margin-left: 210px;
        margin-bottom: 33px;
      }


      table#create_staff input {
          width: 15rem;
          height: 32px;
    }